{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <!--  This file has been downloaded from bootdey.com    @bootdey on twitter -->
    <!--  All snippets are MIT license http://bootdey.com/license -->
    <title>Import Data | Teacher Directory</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static '/css/login.css' %}" rel="stylesheet">
    
</head>

<body>
    <!--login modal-->
    <div id="loginModal" class="modal show" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button> -->
                    <h1 class="text-center">Import Data</h1>
                </div>
                <div class="modal-body">
                    <form class="form col-md-12 center-block" method="POST"
                            enctype="multipart/form-data"
                            action="{% url 'importdata:import-data' %}">
                        {% csrf_token %}
                        
                        <div class="form-group">
                            <label for="csv-file">Upload CSV Teachers file:</label>
                            <input type="file" name="csv-file" class="form-control input-lg custom-file-input" accept=".csv"/>
                        </div>
                        <div class="form-group">
                            <label for="pics-file">Upload Profile Picture folder:</label>
                            <input type="file" name="pics-file" class="form-control input-lg custom-file-input" accept=".zip"/>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-lg btn-block">Upload Files</button>
                            <!-- <span><button class="btn btn-link pull-right">Need
                                    help?</button>
                            </span> -->
                            
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <div class="col-md-12">
                        {% for msg in messages %}
                        <span class="alert alert-info pull-left" role="alert" style="text-align: center; padding:5px">
                            {% if 'safe' in msg.tags %}{{ message|safe }}{% else %}{{ msg }}{% endif %}
                        </span>
                        {% endfor %}
                        <button class="btn"
                            onclick="location.href = '/' ">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="msg-box" class="modal show">
        <div class="modal-dialog modal-content">
            <div class="modal-body">
                <div class="form-group">
                    If you don't have any files to upload, get sample files hosted on
                    <a href="https://github.com/Karishma0210/testRR/tree/master/sample_files">my gihub</a>.
                </div>
            </div>
        </div>
    </div>
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script type="text/javascript">

    </script>
</body>

</html>